@charset "utf-8";
@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/tangir.jpg");
    background-size: 125px;
}

section {
    margin: 0;
    padding: 0;
}


.no-print {
    display: none;
}
.my-container {
    display: block !important;
}
.print-container {
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 2.5cm 2cm 0 3.5cm;
    background-image: none;
    opacity: 1;
}

.title {
    font-size: 23px;
    font-weight: bold !important;
}

.print-container:not(.second) {
    page-break-after: always;
}

p {
    margin: 0;
    line-height: 25px;
}

p.m1 {
    margin: 5px 2px;
}

table {
    width: 900px;
}