.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:1.008000px;}
._c{width:2.208000px;}
._4{width:3.696000px;}
._1{width:6.144000px;}
._9{width:14.448000px;}
._8{width:15.552000px;}
._5{width:17.088000px;}
._7{width:18.096000px;}
._a{width:20.544000px;}
._2{width:21.696000px;}
._d{width:24.192000px;}
._b{width:103.392000px;}
._0{width:108.000000px;}
._3{width:123.984000px;}
._e{width:236.544000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs0{font-size:48.000000px;}

.h4{height:12.698999px;}
.h3{height:27.773438px;}
.h2{height:33.328125px;}
.h1{height:41.507812px;}
.h0{height:841.900024px;}
.w1{width:5.800000px;}
.w0{width:595.299988px;}
.xc{left:0.400000px;}
.x2{left:56.700001px;}
.x7{left:85.050001px;}
.xa{left:103.700001px;}
.x4{left:128.700001px;}
.x10{left:162.016001px;}
.x8{left:164.700003px;}
.xf{left:202.723994px;}
.x9{left:219.420994px;}
.xd{left:221.418003px;}
.xe{left:225.069004px;}
.x6{left:230.412998px;}
.x0{left:232.334995px;}
.x3{left:235.118000px;}
.x5{left:236.700001px;}
.xb{left:294.749994px;}
.x1{left:371.677998px;}


@media print {
	.h3 {height: 28.03125pt;}
}


.y0{bottom: 770px;}
.y1{bottom: 740px;}
.y2{bottom: 720px;}
.y3{bottom: 710px;}
.y4{bottom: 670px;}
.y5{bottom: 650px;}
.y6{bottom: 630px;}
.y7{bottom: 610px;}
.y8{bottom: 590px;}
.y9{bottom: 570px;}
.y10{bottom: 550px;}
.y11{bottom: 530px;}
.y12{bottom: 510px;}
.y13{bottom: 490px;}
.y14{bottom: 470px;}
.y15{bottom: 450px;}
.y16{bottom: 430px;}
.y17{bottom: 410px;}
.y18{bottom: 390px;}
.y19{bottom: 370px;}
.y20{bottom: 350px;}
.y21{bottom: 330px;}
.y22{bottom: 310px;}
.y23{bottom: 290px;}
.y24{bottom: 270px;}
.y25{bottom: 250px;}
.y26{bottom: 230px;}
.y27{bottom: 210px;}
.y28{bottom: 190px;}
.y29{bottom: 170px;}
.y30{bottom: 150px;}
.y31{bottom: 130px;}
.y32{bottom: 110px;}
.y33{bottom: 90px;}
.y34{bottom: 70px;}
.y35{bottom: 50px;}

.y36{bottom:800px;}
.y37{bottom:750px;}

.y38{bottom: 725px;}

.y39{bottom: 700px;}
.y40{bottom: 680px;}
.y41{bottom: 660px;}
.y42{bottom: 640px;}

.y43{bottom: 615px;}

.y44{bottom: 590px;}
.y45{bottom: 570px;}
.y46{bottom: 550px;}
.y47{bottom: 530px;}
.y48{bottom: 510px;}
.y49{bottom: 490px;}
.y50{bottom: 470px;}
.y51{bottom: 450px;}

.y52{bottom: 425px;}

.y53{bottom: 400px;}
.y54{bottom: 380px;}
.y55{bottom: 360px;}

.y56{bottom: 335px;}

.y57{bottom: 310px;}
.y58{bottom: 290px;}
.y59{bottom: 270px;}
.y60{bottom: 250px;}
.y61{bottom: 230px;}

.y62{bottom: 205px;}

.y63{bottom: 180px;}
.y64{bottom: 160px;}

.y65{bottom: 135px;}

.y66{bottom: 105px;}
.y67{bottom: 90px;}
.y68{bottom: 70px;}
.y69{bottom: 50px;}
.y70{bottom: 30px;}


@media print {
	.v0{vertical-align:0.000000pt;}
	.ls0{letter-spacing:0.000000pt;}
	.ws0{word-spacing:0.000000pt;}
	._6{width:1.344000pt;}
	._c{width:2.944000pt;}
	._4{width:4.928000pt;}
	._1{width:8.192000pt;}
	._9{width:19.264000pt;}
	._8{width:20.736000pt;}
	._5{width:22.784000pt;}
	._7{width:24.128000pt;}
	._a{width:27.392000pt;}
	._2{width:28.928000pt;}
	._d{width:32.256000pt;}
	._b{width:137.856000pt;}
	._0{width:144.000000pt;}
	._3{width:165.312000pt;}
	._e{width:315.392000pt;}
	.fs1{font-size:53.333333pt;}
	.fs0{font-size:64.000000pt;}

	.h4{height:16.931999pt;}
	.h3{height:37.031250pt;}
	.h2{height:44.437500pt;}
	.h1{height:55.343750pt;}
	.h0{height:1122.533366pt;}
	.w1{width:7.733333pt;}
	.w0{width:793.733317pt;}
	.xc{left:0.533333pt;}
	.x2{left:75.600001pt;}
	.x7{left:113.400002pt;}
	.xa{left:123.600001pt;}
	.x4{left:171.600001pt;}
	.x10{left:216.021335pt;}
	.x8{left:219.600004pt;}
	.xf{left:270.298658pt;}
	.x9{left:292.561325pt;}
	.xd{left:295.224004pt;}
	.xe{left:300.092005pt;}
	.x6{left:307.217331pt;}
	.x0{left:309.779994pt;}
	.x3{left:313.490667pt;}
	.x5{left:315.600001pt;}
	.xb{left:392.999992pt;}
	.x1{left:495.570663pt;}
	.y4{left: 150px !important;}

	.y0{bottom: 1030pt;}
	.y1{bottom: 980pt;}
	.y2{bottom: 940pt;}
	.y3{bottom: 930pt;}
	.y4{bottom: 890pt;}
	.y5{bottom: 865pt;}
	.y6{bottom: 840pt;}
	.y7{bottom: 815pt;}
	.y8{bottom: 790pt;}
	.y9{bottom: 765pt;}
	.y10{bottom: 740pt;}
	.y11{bottom: 715pt;}
	.y12{bottom: 690pt;}
	.y13{bottom: 665pt;}
	.y14{bottom: 640pt;}
	.y15{bottom: 615pt;}
	.y16{bottom: 590pt;}
	.y17{bottom: 565pt;}
	.y18{bottom: 540pt;}
	.y19{bottom: 515pt;}
	.y20{bottom: 490pt;}
	.y21{bottom: 465pt;}
	.y22{bottom: 440pt;}
	.y23{bottom: 415pt;}
	.y24{bottom: 390pt;}
	.y25{bottom: 365pt;}
	.y26{bottom: 340pt;}
	.y27{bottom: 315pt;}
	.y28{bottom: 290pt;}
	.y29{bottom: 265pt;}
	.y30{bottom: 240pt;}
	.y31{bottom: 215pt;}
	.y32{bottom: 190pt;}
	.y33{bottom: 165pt;}
	.y34{bottom: 145pt;}
	.y35{bottom: 120pt;}

	.y36{bottom: 1050pt;}
	.y37{bottom: 1005pt;}
	.y38{bottom: 980pt;}
	.y39{bottom: 955pt;}
	.y40{bottom: 930pt;}
	.y41{bottom: 905pt;}
	.y42{bottom: 880pt;}
	.y43{bottom: 855pt;}
	.y44{bottom: 830pt;}
	.y45{bottom: 805pt;}
	.y46{bottom: 780pt;}
	.y47{bottom: 755pt;}
	.y48{bottom: 730pt;}
	.y49{bottom: 705pt;}
	.y50{bottom: 680pt;}
	.y51{bottom: 655pt;}
	.y52{bottom: 630pt;}
	.y53{bottom: 605pt;}
	.y54{bottom: 580pt;}
	.y55{bottom: 555pt;}
	.y56{bottom: 530pt;}
	.y57{bottom: 505pt;}
	.y58{bottom: 480pt;}
	.y59{bottom: 455pt;}
	.y60{bottom: 430pt;}
	.y61{bottom: 405pt;}
	.y62{bottom: 380pt;}
	.y63{bottom: 355pt;}
	.y64{bottom: 330pt;}
	.y65{bottom: 305pt;}
	.y66{bottom: 280pt;}
	.y67{bottom: 255pt;}
	.y68{bottom: 230pt;}
	.y69{bottom: 205pt;}
	.y70{bottom: 180pt;}
}


@media print{

	html, body{
		margin: 0 !important;
		padding: 0 !important;
	}

	 #page-container {
        top: 0 !important;
    }
}
