{% load i18n %}
{% load static %}
<!doctype html>
{% get_current_language as lang %}
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/NewTimesRoman/stylesheet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/agreement.css' %}"/>
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/agreement-print.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title class="no-print">
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light no-print">
        <a class="navbar-brand">Окуу Китеп</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'items:expert_list' %}">{% trans 'Experts' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'items:history_list' %}">{% trans 'History' %}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans 'About Project' %}</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="no-print alert{% if message.extra_tags %} {{ message.tags }} {% endif %} "
                 role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% block print %}
{% endblock %}
<footer>
    <div class="container">
        <div class="w-100"></div>
        <p class="footer-rights text-center mt-5">©
            2021. <img style="padding-right: 10px"
                       src="{% static 'img/logo.webp' %}">{% blocktrans trimmed %}
                This site developed by Жаңы Китеп {% endblocktrans %}</p>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{% block js %}
{% endblock %}
</html>